main {
    margin-bottom: 2rem;
}

.projectsInfo {
    margin-top: 5rem;
    margin-bottom: 8rem;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

.description {

    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    width: 60%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project {
    border-radius: 3rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    background: rgb(0,0,68);
    background: linear-gradient(90deg, rgba(0,0,68,1) 0%, rgba(11,5,111,1) 68%);
    padding-bottom: 1rem;
}
.images {
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}

.images img {
    border-radius: 0.2rem;
    width: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .project {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1024px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
    }
}


.project h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.project p {
    margin-bottom: 0.5rem;
}

.project div {
    margin-bottom: 1rem;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-left: -2rem;
}

.project li {
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: #00004f;
    list-style: none;
}

.projectImages {
    margin-bottom: 1rem;
}

.projectImages h4 {
    font-size: 1.5rem;
    font-weight:bolder
}

.viewOnGithub {
    color: #3b82f6;
    font-size: 1rem;
    transition: color 0.35s;
    text-decoration: underline;
}

.viewOnGithub:hover {
    color: #2563eb;
}

.status {
    font-weight: 600;
    margin-top: 1rem;
    color: #ef4444;
}
