body{
    background-color: black;
    color: #fff;
    background-image: url("messi.png");
    background-size: 100%;
}

.main{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_image{
    width: 75px;
    height: 75px;
}

.list_header{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item_list_header{
    padding: 0px 15px;
}

.container_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body_left{
    width: 50%;
}

.list_right{
    list-style: none;
}

.button_arrow{

}
