body{
    background-image: url("messi.png");
    background-size: 100%;
    height: 100%;
    color: #e9ebea;
    background-color: #1d2128;
    font-family:Georgia, 'Times New Roman', Times, serif

}

.main{
    padding-left: 15%;
    padding-right: 15%;
}

.header_image{
    width: 75px;
}

.list_header{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_list{
    place-items: center;
    float: right;
    width: 100%;
}

.item_list_header{
    padding: 0 20px;
}

.header{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.logo_header{
    float: left;
    width: 30%;
}

.container_body{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

h1{
    font-size: 60px;
}

.image_social_network{
    width: 30px;
    height: 30px;
}

.list_right{
    list-style: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.list_item_social{
    padding: 0 7px;
}

.body_right{
    padding-left: 10%;
}

.body_left{
    padding-right: 10%;
}

.setting{
    border: none;
    outline: none;
    background-color: transparent;
}

p{
    line-height: 2;
    text-align: justify;
}

a{
    color: #fff;
}

.foto_menu{
    width: 50px;
}

.button_arrow{
    background-color: transparent;
    border: none;
    outline: none;
}
